name: Publish snapshots
on:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: olafurpg/setup-gpg@v2
      - name: Get current week
        run: |
          echo "::set-env name=current_week::$(( $(date +%U) ))"
          echo "::set-env name=last_week::$(( $(date +%U) - 1 ))"
      - name: Cache SBT coursier cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/coursier
          key: coursier-${{ env.current_week }}
          restore-keys: coursier-${{ env.last_week }}
      - name: Cache SBT
        uses: actions/cache@v1
        with:
          path: ~/.sbt
          key: sbt-${{ env.current_week }}
          restore-keys: sbt-${{ env.last_week }}
      - name: Publish snapshot
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SBT_GHPAGES_COMMIT_MESSAGE: 'Updated site: sha=${{ github.sha }} build=${{ github.run_id }}'
        run: |
          echo "$PGP_SECRET" | base64 --decode | gpg --import --no-tty --batch --yes
          eval "$(ssh-agent -s)"
          echo "$SSH_PRIVATE_KEY" | ssh-add -
          git config --global user.name "GitHub Actions CI"
          git config --global user.email "ghactions@invalid"

          sbt +publishSigned docs/makeSite docs/ghpagesPushSite
